
qa_app/__pycache__/

qa_app/controllers/__pycache__/

qa_app/controllers/qa_ml/__pycache__/

qa_app/models/__pycache__/

qa_app/models/forum/__pycache__/

qa_app/models/gamification/__pycache__/

qa_app/models/im_livechat/__pycache__/

qa_app/models/ir/__pycache__/

qa_app/models/mail/__pycache__/

qa_app/models/qa/__pycache__/

qa_app/models/res/__pycache__/

qa_app/models/website/__pycache__/

management-system/document_page/__pycache__/

management-system/document_page/models/__pycache__/

management-system/document_page/wizard/__pycache__/

management-system/document_page_procedure/__pycache__/

management-system/document_page_quality_manual/__pycache__/

management-system/document_page_work_instruction/__pycache__/

management-system/knowledge/__pycache__/

management-system/knowledge/models/__pycache__/

management-system/mgmtsystem/__pycache__/

management-system/mgmtsystem/models/__pycache__/

qa_app/controllers/text_classification_utc2/__pycache__/

qld_app/__pycache__/

qld_app/models/__pycache__/

qld_app/wizard/__pycache__/

qld_app/models/qld/__pycache__/

web_notify/__pycache__/

web_notify/models/__pycache__/

*.pyc
*.pkl
*.pk
*.pkl
*.pkl
