
qa_app/__pycache__/

qa_app/controllers/__pycache__/

qa_app/controllers/qa_ml/__pycache__/

qa_app/models/__pycache__/

qa_app/models/forum/__pycache__/

qa_app/models/gamification/__pycache__/

qa_app/models/im_livechat/__pycache__/

qa_app/models/ir/__pycache__/

qa_app/models/mail/__pycache__/

qa_app/models/qa/__pycache__/

qa_app/models/res/__pycache__/

qa_app/models/website/__pycache__/
