.navbar-default {
  background: #212529 !important;
  border: none !important;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  color: #fff !important;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fed136 !important;
  text-decoration: underline;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #fed136 !important;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: bold;
    /*font-size: 14px;*/
    text-transform: uppercase;
    /*color: #281756 !important;*/
    color: #281756 !important;
    /*border-right: 1px solid #ced4da;
    line-height: 1px;*/
}

/* #f1d810 */
.navbar-light .navbar-nav .nav-link:hover{
    color: #ffd653 !important;
}

.navbar-light {
    background-color: #FFFFFF !important;
    /*border-top: 1px solid #e8e8e8 ;*/
    /*box-shadow: rgba(0, 0, 0, 0.32) -3.67394e-16px 2px 8px 0px;*/
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    border-bottom: 3px solid #ffe48c;
}

#nav {
    background-color: #FFFFFF !important;
    /*border-top: 1px solid #e8e8e8 ;*/
    /*box-shadow: rgba(0, 0, 0, 0.32) -3.67394e-16px 2px 8px 0px;*/
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    border-bottom: 1px solid #ffe48c;
}

.dropdown-item:active {
   background-color: #281756;
}

#oe_main_menu_navbar{
    background-image: linear-gradient(99deg, #42258f 10%, #28175f 90%);
}

#oe_main_menu_navbar ul li a:hover{
    color: #281756;
    background-color: #ffcc41;
    border-color: #ffd653;
}
.o_wforum_nav a:hover{
    color: #fec503 !important;
}
section {
    padding: 0px 0;
}
.o_wforum_forum_card_bg {
    background-image: linear-gradient(99deg, #42258f 10%, #28175f 90%);
}

.o_wprofile_gradient{
    /* Vang */
    /* background-image: linear-gradient(120deg, #fffba3, #f9cb00); */
    /* Xanh */
    /*background-image: linear-gradient(120deg, #42258f, #28175f);*/
    background-image: linear-gradient(120deg, #fec810, #28175f);
}

.s_parallax_bg {
     background-color: #614158;
}

header .navbar-brand.logo img {
    padding-top: 20px;
}

#top nav div .navbar-brand.logo span img {
    height: 110px !important;
    padding-right: 50px;
}

.o_header_affix.affix nav div .navbar-brand.logo span img{
    height: 110px !important;
    padding-right: 50px;
}

.btn-secondary {
    color: #ffffff;
    background-color: #281756;
    border-color: #281756;
}

.btn-secondary:hover {
    color: #281756;
    background-color: #ffcc41;
    border-color: #ffd653;
}

#wrapwrap>header>.navbar>div.container {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}

.bg-light {
  background-color: #ffffff !important;

}
/*header {
 * box-shadow: rgba(0, 0, 0, 0.32) -3.67394e-16px 2px 8px 0px;
}*/
.btn-link{
    color: #fed136 !important;
}
.rounded-circle {
  border-radius: 50% !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
header a.navbar-brand.logo img
{
  height: 100px;
  margin-top:-27px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fed136;;
    text-decoration: none;
    background-color: #281756;
}

.page-item.active .page-link {
    z-index: 1;
    color: #FFFFFF;
    background-image: linear-gradient(120deg, #42258f, #28175f);
    border-color: #42258f;
}

.page-link {
    color: #281756;
    background-color: #FFFFFF;
}

.page-link:hover {
    color: #281756;
    background-color: #fec503;
    border-color: #fec503;
}

.website_forum .o_wforum_nav .nav-link.active {
    background-color: rgb(254, 209, 54);
    color: #281756 !important;
}

.o_wforum_nav a:selection {
    color: #281756;
}

.d-flex div a:hover {
     color: #281756;
}

.text-primary{
    color: #212529 !important;
}

/*.o_wforum_nav div h6 {
    color: #281756 !important;
}

.o_wforum_nav div small {
    color: #fec810 !important;
}*/

a {
  color: #281756;
}

a:hover {
  color: #fec503;
}

.btn-link {
    color: #281750 !important;
}

.btn-link:hover {
    color: #fec503 !important;
}

.dropdown-menu a:hover {
    color: #281750 !important;
    background-color: #fec503;
}

.o_thread_window .o_thread_window_header {
    font-weight: bold;
    background-color: #fec503;
    color: #281750;
}

.o_wprofile_pict_bg{
    filter: blur(50px);
  -webkit-filter: blur(50px);

}

.o_wprofile_pict{
    box-shadow: rgba(0, 0, 0, 0.32) -3.67394e-16px 2px 8px 0px;
    border: none;
}

.form-control:focus {
  border-color: #fec810;
  outline: 0;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
    -webkit-box-shadow: inset 0 0 0 0.1rem rgba(254, 209, 55, 0.5);
  box-shadow: 0 0 0 0.1rem rgba(254, 209, 55, 0.5);
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
    color: #281750;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: #281750;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #281750;
    color: #fed136;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
  }

#back-to-top:hover {
    background-color: #555;
  }

#toTop:active,.wp-theme-1 #toTop:focus {
    outline: none;
  }

#back-to-top:before {
  font-family: 'FontAwesome';
  content: "\f106";
  color: #fed136;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  text-indent: 0;
 }

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

 .fixed-top {
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    z-index: 1030;
}
 .logo-min{
     display: none;
 }

/* nav.affix a.logo{*/
/*     display: none;*/
/* }*/

/*nav.affix a.logo-min{*/
/*     display: block;*/
/* }*/

 #nav.affix{
     display: none;
 }

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  /*color: #141f1e !important;*/
  font-weight: 300;
  margin-bottom: 4rem;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* main styles */
.switch {
  position: relative;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: black;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.25rem;
  overflow: hidden;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
  border-radius: 5rem;
  background: #4a4a4a;
  position: absolute;
  transition: 0.25s ease all;
}
.switch--horizontal {
  width: 18rem;
  height: 3rem;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 1rem;
}
.switch--horizontal input {
  height: 3rem;
  width: 6rem;
  left: 6rem;
  margin: 0;
}
.switch--horizontal label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: left;
}
.switch--horizontal label:last-of-type {
  margin-left: 6rem;
}
.switch--horizontal .toggle-outside {
  background: black;
  position: absolute;
  width: 6rem;
  left: 6rem;
}
.switch--horizontal .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 3.25rem;
}
.switch--vertical {
  height: 6rem;
}
.switch--vertical input {
  height: 100%;
  width: 3rem;
  right: 0;
  margin: 0;
}
.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 100%;
  height: 50%;
  margin: 0;
  padding-left: 5rem;
  text-align: left;
}
.switch--vertical .toggle-outside {
  background: black;
  position: absolute;
  width: 3rem;
  height: 100%;
  right: 0;
  top: 0;
}
.switch--vertical .toggle-inside {
  height: 2.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 2.5rem;
}
.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.25rem;
}
.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 3.25rem;
}
.switch--no-label label {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.switch--no-label input:checked ~ .toggle-outside .toggle-inside {
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}
.switch--no-label input ~ input:checked ~ .toggle-outside {
  background: black;
}
.switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
  background: #2ecc71;
}
.switch--no-label.switch--vertical {
  width: 3rem;
}
.switch--no-label.switch--horizontal {
  width: 6rem;
}
.switch--no-label.switch--horizontal input,
.switch--no-label.switch--horizontal .toggle-outside {
  left: 0;
}
.switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
  width: 3.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
  height: 3.5rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 2.25rem;
}
/* mixin */
.background-text{
    background:rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
    #html-logo{
        display: none;
    }
    #user_sidebar{
        display: none;
    }
}
#oe_main_menu_navbar + #wrapwrap .o_header_affix
.fixed-top{
    position: fixed;
    z-index: 1030;
}